/* CHROME */
.slider-container {
  width: 100%;
}

.slider {
  overflow: hidden;
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; 
  height: 12px; 
  background: #f5eee2; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border-radius: 1rem;
}

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; 
  height: 35px; 
  background: #6b490d; 
  cursor: pointer; 
  border-radius: 1rem;
  box-shadow: -1000px 0 0 1000px #e9ad45;
}

/* FIREFOX */
.slider::-moz-range-thumb {
  width: 20px;
  height: 40px;
  background: #e9ad45; 
  cursor: pointer;
  border-radius: 1rem;
}

.slider::-moz-range-progress {
  background-color: #e9ad45; 
}

.slider::-moz-range-track {  
  background-color: #f5eee2;
}

/* IE */
.slider::-ms-fill-lower {
  background-color: #e9ad45; 
}

.slider::-ms-fill-upper {  
  background-color: #f5eee2;
}