.movie-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 40%;
  margin: 0 auto;
  padding: 2rem;
  border: 0px solid black;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgb(214, 214, 214);
}

.movie-poster {
  height: 500px;
}

.movie-title {
  font-size: 1.5rem;
  color: #175977;
}

.movie-year {
  font-size: 1.5rem;
}

.movie-description {

}

.movie-rating {
  font-size: 1.3rem;
  color: white;
  background-color: #175977;
  padding: 0.7rem 0.5rem;
  border: 0px solid black;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgb(214, 214, 214);
  width: 50px;
  margin: 0 auto;
  margin-top: 1.5rem;
}