.sliders-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
}

.main-btn {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 1rem;
  border: 0px solid #175977;
  border-radius: 0.3rem;
  background-color: #175977;
  margin-top: 5rem;
  transition: 0.2s;
  outline: none;
}

.main-btn:hover {
  background-color: #397da0;
  cursor: pointer;
  transition: 0.2s;
}